<body>

<mat-card>
  <mat-card-title>Pre Health Tracker
  </mat-card-title>
  <nav>
    <button mat-raised-button routerLink="home-page">Home</button>

  </nav>
  <mat-card-content align="center">
    A Tool that allows Pre-Health students to keep track of their progress on their health track!
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button routerLink="/login-page">Login</button>
    <!--    <button mat-raised-button routerLink="/enter-info">Enter your info!</button>-->
    <button mat-raised-button routerLink="/register-page">Register</button>
    <button mat-raised-button routerLink="/about">About</button>
    <button mat-raised-button routerLink="/enter-info"> Enter info</button>
  </mat-card-actions>
</mat-card>
<!--<app-home-page></app-home-page>-->
<router-outlet></router-outlet>
<br>
<br>


<!--</body>-->
<!--<app-home-page></app-home-page>-->


<!--Router Views go here-->
<!--<mat-card align="center">-->
<!--  <mat-card-title>-->
<!--    A simple way to keep track of your Pre-Health accomplishments!-->
<!--  </mat-card-title>-->
<!--  <mat-card-content>-->

<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->

<!--  </mat-card-actions>-->
<!--</mat-card>-->

