body {
  background-image: url("https://i0.wp.com/wp-cpr.s3.amazonaws.com/uploads/2019/06/du-campus-2.jpg?fit=2000%2C1333&ssl=1");
  background-size: cover;
}
mat-card {
  background-color: crimson;
  
}


