<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="home-page"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
</head>
<body>

</body>
</html>
<body>
<div class="textBox">
  <h1>Welcome to the DU PreHealth Tracker Website!</h1>
  <p>You can use this site to track your activities</p>
  <div id="link"><a routerLink="/register-page">Don't have an account yet? Click here to create one!</a> </div>
</div>
</body>
